Shopify-Products/Shopify-Product-Orchestrator-Live/Shopify-Products-Orchestrator-Live/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "For_each_Task": {
              "actions": {
                  "HTTP": {
                      "inputs": {
                          "body": "@items('For_each_Task')?['items(''For_each_1'')']",
                          "method": "POST",
                          "uri": "https://shopify-products-import-live.azurewebsites.net:443/api/Shopify-Product-Import-Live/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=MVqOEvbp7wxpkyNkVS-U-pLrPVdyZyerFw73JXJuj4g"
                      },
                      "runtimeConfiguration": {
                          "contentTransfer": {
                              "transferMode": "Chunked"
                          }
                      },
                      "type": "Http"
                  }
              },
              "foreach": "@body('Parse_Orchestrator_Tasks_JSON')?['Table1']",
              "runAfter": {
                  "Parse_Orchestrator_Tasks_JSON": [
                      "SUCCEEDED"
                  ]
              },
              "type": "Foreach"
          },
          "Get_Shopify_Products_Orchestrator_Tasks": {
              "inputs": {
                  "body": {
                      "operationName": "Shopify-To-XW-Products"
                  },
                  "host": {
                      "connection": {
                          "referenceName": "sql"
                      }
                  },
                  "method": "post",
                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('ACSSQL2019-01'))},@{encodeURIComponent(encodeURIComponent('Formal10'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[Shopify_Orchestrator_Get_Operations]'))}"
              },
              "runAfter": {},
              "type": "ApiConnection"
          },
          "Parse_Orchestrator_Tasks_JSON": {
              "inputs": {
                  "content": "@body('Get_Shopify_Products_Orchestrator_Tasks')?['resultsets']",
                  "schema": {
                      "properties": {
                          "Table1": {
                              "items": {
                                  "properties": {
                                      "AccountCode": {
                                          "type": "string"
                                      },
                                      "Active": {
                                          "type": "boolean"
                                      },
                                      "Endpoint": {
                                          "type": "string"
                                      },
                                      "ID": {
                                          "type": "integer"
                                      },
                                      "LastRunTime": {
                                          "type": "string"
                                      },
                                      "Name": {
                                          "type": "string"
                                      },
                                      "NotifyCustomers": {
                                          "type": "boolean"
                                      },
                                      "Operation": {
                                          "type": "string"
                                      },
                                      "OrderNumberPrefix": {
                                          "type": "string"
                                      },
                                      "ShopId": {
                                          "type": "string"
                                      },
                                      "SizeConversion": {
                                          "type": "boolean"
                                      },
                                      "email": {
                                          "type": "string"
                                      }
                                  },
                                  "required": [
                                      "ID",
                                      "AccountCode",
                                      "Name",
                                      "Operation",
                                      "Endpoint",
                                      "ShopId",
                                      "LastRunTime",
                                      "Active"
                                  ],
                                  "type": "object"
                              },
                              "type": "array"
                          }
                      },
                      "type": "object"
                  }
              },
              "runAfter": {
                  "Get_Shopify_Products_Orchestrator_Tasks": [
                      "SUCCEEDED"
                  ]
              },
              "type": "ParseJson"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "Recurrence": {
              "recurrence": {
                  "frequency": "Minute",
                  "interval": 60,
                  "startTime": "2023-11-01T00:15:00",
                  "timeZone": "GMT Standard Time"
              },
              "type": "Recurrence"
          }
      }
  },
  "kind": "Stateful"
}