Supercycle-Return/Supercycle-Return-Orchestrator/Supercycle-Return-Item-Orchestrator/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Create_Returns": {
              "inputs": {
                  "body": {},
                  "host": {
                      "connection": {
                          "referenceName": "sql"
                      }
                  },
                  "method": "post",
                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('ACSSQL2019-01'))},@{encodeURIComponent(encodeURIComponent('Formal10'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[Shopify_Create_Returns]'))}"
              },
              "runAfter": {
                  "Parse_Return_Tasks_JSON": [
                      "SUCCEEDED"
                  ]
              },
              "type": "ApiConnection"
          },
          "For_each_Return_Task": {
              "actions": {
                  "HTTP": {
                      "inputs": {
                          "body": "@items('For_each_Return_Task')",
                          "method": "POST",
                          "uri": "https://supercycle-item-return-worker-live.azurewebsites.net:443/api/Supercycle-Item-Return-Worker-Live/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=HpIILTDZLu5DYHqdNZCfEYXn-6WR1sVdR7ksCR7JvFE"
                      },
                      "runtimeConfiguration": {
                          "contentTransfer": {
                              "transferMode": "Chunked"
                          }
                      },
                      "type": "Http"
                  }
              },
              "foreach": "@body('Parse_Return_Tasks_JSON')?['Table1']",
              "runAfter": {
                  "Create_Returns": [
                      "SUCCEEDED"
                  ]
              },
              "type": "Foreach"
          },
          "Get_Return_Tasks": {
              "inputs": {
                  "body": {
                      "operationName": "Supercycle-Return-Items"
                  },
                  "host": {
                      "connection": {
                          "referenceName": "sql"
                      }
                  },
                  "method": "post",
                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('ACSSQL2019-01'))},@{encodeURIComponent(encodeURIComponent('Formal10'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[Shopify_Orchestrator_Get_Operations]'))}"
              },
              "runAfter": {},
              "type": "ApiConnection"
          },
          "Parse_Return_Tasks_JSON": {
              "inputs": {
                  "content": "@body('Get_Return_Tasks')?['resultsets']",
                  "schema": {
                      "properties": {
                          "Table1": {
                              "items": {
                                  "properties": {
                                      "AccountCode": {
                                          "type": "string"
                                      },
                                      "Active": {
                                          "type": "boolean"
                                      },
                                      "Endpoint": {
                                          "type": "string"
                                      },
                                      "ID": {
                                          "type": "integer"
                                      },
                                      "LastRunTime": {
                                          "type": "string"
                                      },
                                      "Name": {
                                          "type": "string"
                                      },
                                      "NotifyCustomers": {
                                          "type": "boolean"
                                      },
                                      "Operation": {
                                          "type": "string"
                                      },
                                      "OrderNumberPrefix": {
                                          "type": "string"
                                      },
                                      "ShopId": {
                                          "type": "string"
                                      },
                                      "SizeConversion": {
                                          "type": "boolean"
                                      },
                                      "email": {
                                          "type": "string"
                                      }
                                  },
                                  "required": [
                                      "ID",
                                      "AccountCode",
                                      "Name",
                                      "Operation",
                                      "Endpoint",
                                      "ShopId",
                                      "LastRunTime",
                                      "Active"
                                  ],
                                  "type": "object"
                              },
                              "type": "array"
                          }
                      },
                      "type": "object"
                  }
              },
              "runAfter": {
                  "Get_Return_Tasks": [
                      "SUCCEEDED"
                  ]
              },
              "type": "ParseJson"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "Recurrence": {
              "recurrence": {
                  "frequency": "Week",
                  "interval": 1,
                  "schedule": {
                      "hours": [
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          "16",
                          "17"
                      ],
                      "minutes": [
                          50
                      ],
                      "weekDays": [
                          "Monday",
                          "Tuesday",
                          "Wednesday",
                          "Thursday",
                          "Friday"
                      ]
                  },
                  "startTime": "2023-11-01T12:15:00",
                  "timeZone": "GMT Standard Time"
              },
              "type": "Recurrence"
          }
      }
  },
  "kind": "Stateful"
}